*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
font-family:'Orbitron', sans-serif;
display:flex;
justify-content:center;
align-items:center;
color:white;
overflow:hidden;
background:black;
}

/* star canvas */

#stars{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

/* container */

.container{

backdrop-filter:blur(10px);
background:rgba(255,255,255,0.05);
border:1px solid rgba(255,255,255,0.15);
padding:60px;
border-radius:20px;
text-align:center;

box-shadow:
0 0 30px rgba(0,255,255,.3);

animation:fadeIn 2s ease;

}

/* title */

h1{
font-size:3rem;
text-shadow:0 0 20px cyan;
margin-bottom:10px;
}

.subtitle{
opacity:.7;
margin-bottom:40px;
}

/* countdown */

#countdown{
display:flex;
gap:25px;
}

.time-box{

background:rgba(0,0,0,.6);
padding:25px;
border-radius:10px;
width:110px;

box-shadow:
0 0 15px rgba(0,255,255,.6);

transition:.3s;
}

.time-box:hover{
transform:scale(1.1);
}

.time-box span{

font-size:3rem;
display:block;
animation:pulse 2s infinite;

}

/* button */

.download{

display:inline-block;
margin-top:30px;
padding:15px 30px;

background:linear-gradient(45deg,cyan,blue);

color:white;
text-decoration:none;
font-size:1.2rem;

border-radius:8px;

box-shadow:0 0 20px cyan;

transition:.3s;

}

.download:hover{
transform:scale(1.1);
box-shadow:0 0 35px cyan;
}

/* animations */

@keyframes pulse{
0%{transform:scale(1)}
50%{transform:scale(1.15)}
100%{transform:scale(1)}
}

@keyframes fadeIn{
from{opacity:0; transform:translateY(20px);}
to{opacity:1; transform:translateY(0);}
}

#content{
display:none;
font-size:2rem;
}
